html {
	background-color: #0A0A20;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   color: #adadad
}

a {
   text-decoration: none;
}

li {
	list-style: none;
}

.card {
	background-color: white;
	padding: 1em;
	margin: 2em;
	line-height: 2em;
	border-radius: 10px;
}

.shadow {
   -moz-box-shadow: 0px 0px 15px;
	-webkit-box-shadow: 0px 0px 15px;
	-o-box-shadow: 0px 0px 15px;
	box-shadow: 0px 0px 15px rgb(97, 97, 97);
}